.payment-form-container {
    .iframe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: stretch;
    }

    .payment-iframe {
        width: 100%;
        max-height: 400px;
        height: 100vh;
        border: none;
        margin-top: 20px;

        @media (max-width: 768px) {
            max-height: 300px;
        }
    }

    .pay-bt-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;

        .pay-back-button {
            padding: 10px 20px;
            background: #68001f;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            align-self: flex-start;

            @media (max-width: 768px) {
                padding: 8px 16px;
            }

            &:hover {
                background-color: #aa0436;
            }
        }

        @media (max-width: 768px) {
            margin-top: -20px;
            padding: 8px 16px;
        }
    }
}