.payment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    max-height: 80vh;
    overflow-y: auto;

    @media (max-width: 768px) {
        padding: 30px 20px 20px 20px;
        width: 100%;
    }

    .step-indicator {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #ebaabd;

        span {
            margin: 0 5px;
        }

        .active-step {
            color: #68001f;
        }
    }
}