.about-Campein {
    padding: 48px;
    text-align: center;
    font-size: 14px;

    @media (max-width: 768px) {
        padding: 20px;
    }

    .about-Campein-title {
        width: 100%;
        color: #68001f;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .about-Campein-description {
        margin-bottom: 20px;
    }

    .about-Campein-subtitle {
        font-weight: 900;
        margin-bottom: 10px;
    }

    .about-Campein-list {
        text-align: right;
        margin: 0 auto;
        max-width: 600px;
        padding: 0 20px;
        list-style: disc; // מסירים את הנקודות הרגילות
        padding-right: 0;

        .list-item {
            position: relative;
            padding-right: 20px;
            margin-bottom: 10px;


        }


        // מרחיק את הטקסט מהנקודה
    }
}