@import "./_variables.scss";

.about-Campein {
    padding: 48px;
    text-align: center;
    font-size: 14px;
    background: $main-bg;
    color: $main-text;

    @media (max-width: 768px) {
        padding: 20px;
    }

    .about-Campein-title {
        width: 100%;
        color: $main-text;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .about-Campein-description {
        margin-bottom: 20px;
        color: $main-text;
    }

    .about-Campein-subtitle {
        font-weight: 900;
        margin-bottom: 10px;
        color: $accent;
    }

    .about-Campein-list {
        text-align: right;
        margin: 0 auto;
        max-width: 600px;
        padding: 0 20px;
        list-style: disc;
        padding-right: 0;

        .list-item {
            position: relative;
            padding-right: 20px;
            margin-bottom: 10px;
            color: $main-text;
        }
    }
}