.main-banner {
 
  background-image: url('/img/homePage-banner.png'); // עדכני לפי הנתיב בפועל
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  direction: rtl;
  color: white;
  position: relative;

  .banner-content {
  padding: 3rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .banner-buttons {
      display: flex;
      gap: 1rem;

      .info-btn {
        background-color: #f58b28;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }

      .shabbat-btn {
        background-color: #68001f;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
