.about-kampein {
    padding: 48px;
    text-align: center;
   // max-height: 60vh;
    /* גובה מקסימלי */
    overflow-y: auto;
    /* גלילה פנימית אם צריך */
    font-size: 14px;

    @media (max-width: 768px) {
        padding: 20px;
        max-height: 60vh;
    }

    .about-kampein-title {
        width: 100%;
        color: #38155DE5;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .about-kampein-description {
        margin-bottom: 20px;
    }

    .about-kampein-subtitle {
        font-weight: 900;
        margin-bottom: 10px;
    }

    .about-kampein-list {
        text-align: right;
        margin: 0 auto;
        max-width: 600px;
        padding: 0 20px;
        list-style: disc; // מסירים את הנקודות הרגילות
        padding-right: 0;

        .list-item {
            position: relative;
            padding-right: 20px;
            margin-bottom: 10px;


        }


        // מרחיק את הטקסט מהנקודה
    }
}