.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #38155DE5;
  padding: 20px; // ריפוד פנימי
}

.carousel {
  display: flex;
  transition: transform 4s ease-in-out; // אנימציה חלקה למעבר בין התמונות\
  gap: 30px; // רווח בין התמונות
  width: 100%; // רוחב מלא של הקונטיינר
  justify-content: center; // מרכז את התמונות
  align-items: center; // מרכז את התמונות
  flex-wrap: nowrap; // לא מאפשר שורות חדשות
  overflow-x: auto; // מאפשר גלילה אופקית
}

.carousel-img {
  width: 300px; // קביעת רוחב אחיד לכל התמונות
  height: 200px; // קביעת גובה אחיד לכל התמונות
  object-fit: cover; // מוודא שהתמונה מתמלאת בתוך המסגרת בלי להתעוות
  border-radius: 10px; // פינות מעוגלות
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}