.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #38155DE5;
}

.carousel {
  display: flex;
  transition: transform 1s ease-in-out; // אנימציה חלקה למעבר בין התמונות
}

.carousel-images {
  display: flex;
  gap: 20px; // רווח קטן בין התמונות
}

.carousel-img {
  width: 300px; // קביעת רוחב אחיד לכל התמונות
  height: 200px; // קביעת גובה אחיד לכל התמונות
  object-fit: cover; // מוודא שהתמונה מתמלאת בתוך המסגרת בלי להתעוות
  border-radius: 10px; // פינות מעוגלות
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* מחלקות דינמיות להזזת הקרוסלה */
.carousel.translate-0 {
  transform: translateX(0);
}

.carousel.translate-1 {
  transform: translateX(-310px);
}

.carousel.translate-2 {
  transform: translateX(-620px);
}

.carousel.translate-3 {
  transform: translateX(-930px);
}

/* ניתן להוסיף מחלקות נוספות בהתאם למספר התמונות */