.money-circles {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: #F9F8FA;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

    @media (max-width: 1400px) {
        width: 100vw;
    }

    .circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 156px;
        height: 156px;
        border-radius: 50%;
        background: #D7CBEA;
        color: #000;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        direction: rtl;
        gap: 10px;

        .amount {
            font-size: 20px;
            font-weight: 700;
            color: #000;
        }

        .yearly {
            font-size: 16px;
        }

        strong {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

@media (max-width: 768px) {
    .money-circles {
        width: 100vw;
        flex-direction: column;
        gap: 20px;
    }
}