
@import './variables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $color-light;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    height: 70px;
  }

  &__menu {
    display: flex;
    gap: 1rem;
    align-items: center;

    a, button {
      font-family: $font-stack;
      font-size: 1rem;
      font-weight: bold;
      background: none;
      border: none;
      cursor: pointer;
      color: $color-secondary;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $color-primary;
      }

      &.donation-link {
        color: $color-primary;
      }
    }
  }
}
