.shabbat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .shabbat-selection-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #68001f;
  }

  .select-shabbat {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #68001f;
    border-radius: 5px;
    margin-bottom: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white url('data:image/svg+xml;utf8,<svg fill="%2368001f" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat left 10px center;
    background-size: 1rem;
    padding-left: 2rem;

    &:focus {
      outline: none;
      //border: 1px solid #68001f;
      box-shadow: none;


    }
  }


  .select-shabbat-option {
    font-size: 1rem;
  }

  .shabbat-selection-button {
    background-color: #f58b28;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: #e67a1e;
    }
  }
}