@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Solitreo&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
} */

:root {
    --primary-color: #68001f;
    /* צבע ראשי */
    --secondary-color: #f58b28;
    /* צבע משני */
    --text-color: #f58b28;
    /* צבע טקסט */
    --background-color: #68001f;
    /* צבע רקע */
    --button-hover-color: #f58b28;
    /* צבע כפתור במעבר עכבר */
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Noto Sans Hebrew', sans-serif;
    direction: rtl;
    background-color: var(--background-color);
    /* שימוש בצבע רקע */
    color: var(--text-color);
}